# Skinner39 board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_SKINNER39_LEFT

config ZMK_KEYBOARD_NAME
	default "SKINNER39"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if BOARD_SKINNER39_LEFT || BOARD_SKINNER39_RIGHT

config ZMK_SPLIT
	default y

if ZMK_DISPLAY

endif # ZMK_DISPLAY

if LVGL

config ZMK_DISPLAY_DEDICATED_THREAD_STACK_SIZE
	default 8192

config LV_Z_VDB_SIZE
	default 64

config LV_DPI_DEF
	default 148

config LV_Z_BITS_PER_PIXEL
	default 1

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_1
endchoice

endif # LVGL

config SPI
	default y

endif 
